<%= render partial: 'room_check_form' %>




<br><br><br>
<h1>Api for search is </h1>
<p>Method Post</p>
<p>Url :  /search/check_availbility </p>
<p>
  params: 
    start_date: 'any date format '<br>
    end_date: 'any date format '<br>
    room_type : room_type_id<br>

</p>

<p>FYI i was busy with office work, didnt get much time to write clean code </p>